.features {
  padding: 80px 0px;
}
.container_content-features {
  display: flex;
  align-items: center;
}
.container_content-features:not(:last-child) {
  margin-bottom: 32px;
}
.features__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 24px;
  letter-spacing: -0.01em;
}
.features__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #848fac;
  max-width: 584px;
}
.features__img-1 {
  margin-left: 126px;
}
.features__img-2 {
  margin-right: 126px;
}
