<section class="choose">
  <div class="container">
    <div class="container__text">
      <h2 class="choose__title">Many Rooms to Choose</h2>
      <p class="choose__text">
        There is a room for every needs. We have room for individuals until
        family size, we also have a cabin for more private experience
      </p>
      <button class="btn choose__btn" type="button">Explore more</button>
    </div>
    <ul class="choose__list list">
      <li class="choose__item">
        <img src="/src/images/choose-1.jpg" alt="choose" />
        <h3 class="choose__item-title">Single Room</h3>
        <p class="choose__item-text">
          Best for a brave lone wolf who need comfort and quiet quality time,
          but you still have a chance to meet others.
        </p>
        <a href="" class="choose__item-more link"
          >Learn more
          <svg
            width="18"
            height="14"
            viewBox="0 0 18 14"
            fill="none"
            class="choose__item-more-icon"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.0775 0.57733C10.4029 0.251893 10.9306 0.251893 11.256 0.57733L17.0893 6.41066C17.4148 6.7361 17.4148 7.26374 17.0893 7.58917L11.256 13.4225C10.9306 13.7479 10.4029 13.7479 10.0775 13.4225C9.75206 13.0971 9.75206 12.5694 10.0775 12.244L14.4882 7.83325H1.50008C1.03984 7.83325 0.666748 7.46016 0.666748 6.99992C0.666748 6.53968 1.03984 6.16659 1.50008 6.16659H14.4882L10.0775 1.75584C9.75206 1.4304 9.75206 0.902767 10.0775 0.57733Z"
              fill="#424F7B"
            />
          </svg>
        </a>
      </li>
      <li class="choose__item">
        <img src="/src/images/choose-2.jpg" alt="choose" />
        <h3 class="choose__item-title">Double Room</h3>
        <p class="choose__item-text">
          Best for couple, seek happiness in intimacy without worry of being
          disturbed. Feel the whole world just for you two
        </p>
        <a href="" class="choose__item-more link"
          >Learn more
          <svg
            width="18"
            height="14"
            viewBox="0 0 18 14"
            fill="none"
            class="choose__item-more-icon"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.0775 0.57733C10.4029 0.251893 10.9306 0.251893 11.256 0.57733L17.0893 6.41066C17.4148 6.7361 17.4148 7.26374 17.0893 7.58917L11.256 13.4225C10.9306 13.7479 10.4029 13.7479 10.0775 13.4225C9.75206 13.0971 9.75206 12.5694 10.0775 12.244L14.4882 7.83325H1.50008C1.03984 7.83325 0.666748 7.46016 0.666748 6.99992C0.666748 6.53968 1.03984 6.16659 1.50008 6.16659H14.4882L10.0775 1.75584C9.75206 1.4304 9.75206 0.902767 10.0775 0.57733Z"
              fill="#424F7B"
            />
          </svg>
        </a>
      </li>
      <li class="choose__item">
        <img src="/src/images/choose-3.jpg" alt="choose" />
        <h3 class="choose__item-title">Cootage</h3>
        <p class="choose__item-text">
          Best for family or group. One cootage can fit up to 5 people. Made
          stronger bond with your family or friends
        </p>
        <a href="" class="choose__item-more link"
          >Learn more
          <svg
            width="18"
            height="14"
            viewBox="0 0 18 14"
            fill="none"
            class="choose__item-more-icon"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.0775 0.57733C10.4029 0.251893 10.9306 0.251893 11.256 0.57733L17.0893 6.41066C17.4148 6.7361 17.4148 7.26374 17.0893 7.58917L11.256 13.4225C10.9306 13.7479 10.4029 13.7479 10.0775 13.4225C9.75206 13.0971 9.75206 12.5694 10.0775 12.244L14.4882 7.83325H1.50008C1.03984 7.83325 0.666748 7.46016 0.666748 6.99992C0.666748 6.53968 1.03984 6.16659 1.50008 6.16659H14.4882L10.0775 1.75584C9.75206 1.4304 9.75206 0.902767 10.0775 0.57733Z"
              fill="#424F7B"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
