<section class="cootage">
  <div class="container">
    <img src="/src/images/cootage.jpg" alt="cootage" />
    <div class="cootage__text-container">
      <h2 class="cootage__title">
        Cozy and Down to Earth Cootage Hotel in Norway.
      </h2>
      <p class="cootage__text">
        Our Cootage Hotel is an intimate hideway concieved for dicerning
        travelers. It faces directly the unique and spectacular panorama of the
        Hallerbos Jungle.
      </p>
      <p class="cootage__desc">
        Cootels extends along a private, quiet, and beautiful nature. Stay away
        from crowd and enjoy the cozy and beauty with us.
      </p>
      <button class="btn cootage__btn" type="button">Learn More</button>
    </div>
  </div>
</section>
