<section class="features">
  <div class="container">
    <div class="container_content-features">
      <div class="container_text-features">
        <h2 class="features__title">Cabin Activities</h2>
        <p class="features__text">
          Don’t worry to get bored easily in our cabin. We have so many cabin
          activities for you to do it alone or with group. Maybe this is the
          best chance for you to make new friends or even a lover.
        </p>
      </div>
      <img
        src="/src/images/features-1.jpg"
        alt="activities"
        class="features__img-1"
      />
    </div>
    <div class="container_content-features">
      <img
        src="/src/images/features-2.jpg"
        alt="activities"
        class="features__img-2"
      />
      <div class="container_text-features">
        <h2 class="features__title">100% Organic Food</h2>
        <p class="features__text">
          We served 100% organic, low process and delicious food. We allow our
          guest to have breakfast or dinner request.What ever made your taste
          buds happy.
        </p>
      </div>
    </div>
  </div>
</section>
