<section class="hero">
  <div class="container">
    <div class="text__container">
      <h1 class="hero__title">Nature, Warmth, and Beauty in One Space</h1>
      <p class="hero__text">
        One place to release all the stress, bring back happines, and get back
        to nature. We provide the best room and nature for you. Come visit us
        anytime you want.
      </p>
      <button class="btn hero__btn">Reservation</button>
    </div>
    <div class="img__container">
      <img src="/src/images/hero-1.jpg" alt="house" />
      <img src="/src/images/hero-2.jpg" alt="house" class="hero__img-2" />
      <img src="/src/images/hero-3.jpg" alt="house" />
    </div>
  </div>
</section>
