<section class="start">
  <div class="container">
    <div class="contact__container">
      <p class="contact__pre-desc">Start your journey!</p>
      <h2 class="contact__title">How to Get My Room?</h2>
      <p class="contact__text">
        You can contact us by phone or email us. Easily tap the contact button
        below and it will take you to our contact point
      </p>
      <div class="contact__btn-container">
        <button class="contact__btn btn">Contact us</button>
        <a href="" class="contact__link link">Explore more room</a>
      </div>
    </div>
    <ul class="start__choose-list list">
      <li class="start__choose-item">
        <a class="start__contact-link link">
          <p class="start__choose-text">1. Choose a room and date</p>
          <svg
            class="start__choose-icon"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19 8.5L12 15.5L5 8.5"
              stroke="#FF620A"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <p class="start__contact-item-text visually-hidden">
          Contact us via phone or email, ask for availability of you choice of
          room. We might offer you something exciting.
        </p>
      </li>
      <li class="start__choose-item">
        <a class="start__contact-link start__contact-link-2 link">
          <p class="start__choose-text">2. Check for room availability</p>
          <svg
            class="start__choose-icon start__choose-icon-2"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19 8.5L12 15.5L5 8.5"
              stroke="#FF620A"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <p
          class="start__contact-item-text start__contact-item-text-2 visually-hidden"
        >
          Contact us via phone or email, ask for availability of you choice of
          room. We might offer you something exciting.
        </p>
      </li>
      <li class="start__choose-item">
        <a class="start__contact-link start__contact-link-3 link">
          <p class="start__choose-text">2. Check for room availability</p>
          <svg
            class="start__choose-icon start__choose-icon-3"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M19 8.5L12 15.5L5 8.5"
              stroke="#FF620A"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
        <p
          class="start__contact-item-text start__contact-item-text-3 visually-hidden"
        >
          Contact us via phone or email, ask for availability of you choice of
          room. We might offer you something exciting.
        </p>
      </li>
    </ul>
  </div>
</section>
